body{
    background-color: black;
    background-image: url('back3.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    margin:0;
    padding:0;
    
}

form{
    width: 20%;
    position:absolute;
    left:5%;
    top:5%;
    color:white;
    font-family:calibri;
}

input{
    border-radius:8px;
    border:none;
    width:48%;
    height:20px;
    margin-top:5px;
}

.startBtn{
    border:none;
    width:48%;
    height:25px;
    margin-left:0%;
    background-color: gold;
    padding:4px;
    font-weight: bold;
    transition: transform 0.4s ease, box-shadow 0.1s ease;
}

.newBtn{
    border: none;
    width:48%;
    height:25px;
    margin-left:0%;
    background-color: orange;
    padding:4px;
    font-weight: bold;
    transition: transform 0.4s ease, box-shadow 0.1s ease;
}

.startBtn:hover, .newBtn:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.startBtn:hover, .newBtn:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

caption{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

table{
    color:white;
    font-family:calibri;
    position:absolute;
    top:5%;
    left:80%;
    border-collapse: collapse;
}

th,td{
    border:1px solid white;
    padding:10px;
    text-align:center;
}

.title{
    color:gold;
    font-weight: bold;
    font-size:4rem;
    text-align: center;
}

.subTitle{
    color:white;
    font-weight: bold;
    font-size:2rem;
    text-align: center;
    font-family:calibri; 
}

.lefth2{
    color:black;
    position:absolute;
    top:50%;
    left:20%;
    background-color: gold;
    padding:20px;
    border-radius:10px;
    display:none;
}

.righth2{
    color:black;
    position:absolute;
    top:50%;
    left:68.5%;
    background-color: gold;
    padding:20px;
    border-radius:10px;
    display:none;
}

.draw{
    width:10%;
    text-align:center;
    color:black;
    position:absolute;
    top:50%;
    left:44.3%;
    background-color: gold;
    padding:20px;
    border-radius:10px;
    display:none;
}

.mainImageDiv{
    display:flex;
    justify-content:center;
    margin-top:-15px;
}


.left{
    color:white;
    justify-content: center;
    margin-left:70%;
    font-weight: bolder;
    font-size:20px;
    font-family:calibri;
}

.right{
    color:white;
    justify-content: center;
    margin-left:20%;
    font-weight: bolder;
    font-size:20px;
    font-family:calibri;
}

.leftDiceDiv {
    display:grid;
    padding:30px;
}

.rightDiceDiv{
    display:grid;
    padding:30px;
}

.leftDiceImage {
    width:35%;
    height:auto;
    margin-left:58%;
    border-radius:15px;
}
.rightDiceImage{
    width:35%;
    height:auto;
    margin-left:10%;
    border-radius:15px;    
}

.btn1{
    width:18%;
    height:auto;
    margin-left:67%;
    margin-top:5%;
    padding:8px;
    border:none;
    border-radius:10px;
    font-weight: bold;
    font-family:calibri;
    font-size:15px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn2{
    width:18%;
    height:auto;
    margin-left:20%;
    margin-top:5%;
    padding:8px;
    border:none;
    border-radius:10px;
    font-weight: bold;
    font-family:calibri;
    font-size:15px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn1:hover, .btn2:hover {
    background-color: gold;
    color: black;
}

.btn1:active, .btn2:active {
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

